.btn
  @apply flex w-auto items-center text-justify py-3 px-4 rounded leading-none cursor-pointer
  transition all .3s ease

  &.btn-lg
    @apply text-lg py-3 px-5

  &.btn-xl
    @apply text-lg py-5 px-12

  &.btn-yellow
    @apply bg-orange-1 text-yellow-900

    &:hover
      @apply bg-yellow-400 text-yellow-800