#companies
  @apply bg-gray-2 pt-10 pb-20 text-center

  .container
    @apply flex

    a
      @apply mx-auto

      img
        @apply h-10 opacity-25 cursor-pointer
        transition all .2s ease
        object-fit cover

        &:hover
          @apply opacity-100