.footer
  @apply bg-gray-1 pt-20 pb-16

  h3
    @apply text-2xl text-yellow-500 leading-tight

  p
    @apply mt-6 text-gray-500

  .email
    @apply mt-10

  .networks
    @apply self-center text-right

    h4
      @apply inline-block pr-5 text-xl font-bold

    a
      @apply px-5 text-2xl text-gray-400
      transition all .2s ease

      &:hover
        @apply text-white

      &:last-child
        @apply pr-0