.footer
  @apply bg-gray-1 pt-20 pb-16

  h3
    @apply text-2xl text-orange-1 leading-tight

  p
    @apply mt-6 text-gray-500

  .email
    @apply mt-10

  .networks
    @apply self-end text-right

    h4
      @apply inline-block pr-3 text-xl font-bold

    a
      @apply px-3 text-2xl text-gray-400
      transition all .2s ease

      &:hover
        @apply text-white

      &:last-child
        @apply pr-0

    .code
      @apply mt-5

      a
        @apply text-sm text-gray-600

        &:hover
          @apply text-gray-400
