#works
  @apply bg-gray-2 pt-10 pb-20

  .text
    @apply text-center self-center

    h3
      @apply text-3xl

    p
      @apply text-gray-600 text-sm

  .block
    @apply bg-gray-1 rounded-lg shadow-lg self-center
    height 340px
    background-position center center
    background-size contain
    background-repeat no-repeat

    &.ubisoft-monitoring
      background-image url("../images/works/ubisoft-monitoring.png")

    &.nitro-encoder
      background-image url("../images/works/nitro-encoder.png")

    &.dofus-anti-cheat
      background-image url("../images/works/dofus-anti-cheat.png")