#works
  @apply bg-gray-2 pt-10 pb-20

  .text
    @apply text-center self-center

    h3
      @apply text-3xl

    p
      @apply text-gray-600 text-sm

  .block
    @apply bg-gray-1 rounded-lg shadow-lg
    min-height 400px