#about
  @apply bg-gray-2 pt-32 pb-20

  .domains

    .domain
      @apply relative w-full rounded-lg shadow-lg p-10
      @apply bg-gray-1

      h3
        @apply text-orange-1 text-2xl

      p
        @apply mt-1 text-gray-500

      .icon
        @apply absolute top-0 right-0 mt-10 mr-10 text-orange-1 text-xl

  .aboutme
    @apply pl-10 pt-10

    h3
      @apply text-3xl

    p
      @apply mt-10 text-gray-500 text-justify leading-loose text-lg