@tailwind base
@tailwind components
@tailwind utilities

@import "common.styl"
@import "button.styl"
@import "header.styl"
@import "me.styl"
@import "about.styl"
@import "companies.styl"
@import "works.styl"
@import "footer.styl"