.footer
  @apply bg-gray-1 pt-16 pb-6

  h3
    @apply text-2xl text-orange-1 leading-tight

  p
    @apply mt-6 text-gray-500

  .email
    @apply mt-10 text-gray-300
    transition all .1s ease

    &:hover
      @apply text-white

    svg
      @apply mr-1

  .networks
    @apply self-end text-right

    a
      @apply px-3 text-xl text-gray-400
      transition all .1s ease

      &:hover
        @apply text-white

      &:last-child
        @apply pr-0

    .code
      @apply mt-2

      a
        @apply text-sm text-gray-600

        &:hover
          @apply text-gray-400
