#me
  @apply pt-16 pb-20

  .container
    @apply relative

  .overview
    @apply mx-auto self-end

    .hello
      @apply text-3xl

    h1
      @apply text-6xl leading-tight

      span
        @apply font-medium text-orange-1

    h2
      @apply text-4xl

    p
      @apply mt-2 text-xl text-gray-500

    .exps
      @apply flex mt-20

      .exp
        @apply flex mr-10

        .number
          @apply block text-white text-4xl

        .text
          @apply uppercase text-gray-600 text-sm self-center ml-3

  .logo
    @apply mx-auto
    /*top -80px

    img
      @apply block mx-auto*/